.root {
    padding: 5px;
    background-color: #8f85eb;
    border-radius: 10px;
    box-shadow: 0 0 3px 2px #d5d6e2;
    position: relative;
    margin: 10px auto;
    max-width: 600px;
}

.header {
    color: #0d0935;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.limit {
    font-size: 1.1rem;
}

.arrow {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.4rem;
}